.right_home {
  position: fixed;
  left: 77vw;
  top: 4.05rem;
  width: 20.3vw;
}

.splitter1 {
  height: 1px;
  background: var(--divider);
  width: 100%;
  margin: 6px 2px 0 12px;
  width: 20vw;
}

.contacts_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 7px 10px;
  font-weight: 600;
  color: var(--color-secondary);
}

.contacts_header_left {
  font-size: 17px;
}

.contacts_header_right {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 7px;
  right: -9px;
}

.contact_circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact_circle:nth-child(1) svg {
  transform: translateX(1px);
}

.contact_circle:nth-child(3) {
  transform: translateY(-2px);
}

.contacts_list {
  padding: 5px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14.9px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-primary);
  font-weight: 500;
  padding: 8px;
  width: 105%;
}

.contact_img img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.contact span {
  transform: translateY(-1px);
}
